body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
}

#title {
    font-size: 11vw;
    font-weight: bold;
    margin: auto;
}

#byline {
    font-size: 5vw;
    margin: 5% auto;
}

p {
    font-size: 3vw;
    margin: 5% 5%;
}

.slider-container {
    margin: 20px;
}

.slider-label {
    font-size: 18px;
}

.output {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.radio-container {
    margin: 20px;
}

.radio-label {
    font-size: 18px;
}

.results-container {
    display: flex;
    justify-content: space-between;
}

.question {
    text-align: center;
}

.question .a {
    margin: 0 auto;
    width: 50%;
}

.tenant-section {
    display: flex;
    align-items: center;
    margin: 20px;
}

.move-in-out-flex {
    display: flex;
    align-items: center;
    margin: 20px;
}

.tenant-slider {
    flex: 1;
}

.tenant-info {
    flex: 1;
    text-align: center;
}

.tenant-info span {
    font-weight: bold;
}

.DELT {
    /* display: none; */
}

@media only screen and (orientation: portrait) and (max-width: 820px) {
    .tenant-section {
        display:block;
    }
}
