body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#title {
    font-size: 10vw;
    font-weight: bold;
    margin: 10% auto;
    line-height: 0.9;
}

#byline {
    font-size: 7vw;
    margin: 7% auto;
}

a {
    text-decoration: none;
}

#intro {
    font-size: 4vw;
    margin: 10% auto;
}

.slider-container {
    margin: 20px;
}

.slider-label {
    font-size: 18px;
}

.output {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.radio-container {
    margin: 20px;
}

.radio-label {
    font-size: 18px;
}

#canvases {
    max-width: 100%;
}

.results-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.tenant-section {

    align-items: center;
}

.tenant-section p {
    font-size: 18px;
    display: block;
}

.move-in-out-flex {
    display: flex;
    align-items: center;
    margin: 20px;
}

.tenant-slider {
    flex: 1;
}

#explainer {
    margin: 0 auto;
    width: 100%;
}

#debt-graph {
    max-width: 100%;
}

.explainer-graph {
    border: 2px dotted black;
    max-width: 100%;
}

/* FAQ */

.question {
    text-align: center;
}

.question .a {
    margin: 0 auto;
    width: 50%;
}

